/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  background: linear-gradient(to bottom, #ffffff, #fff8b0); /* Background gradient */
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  text-align: center; /* Center the content horizontally */
  margin-bottom: 5px; /* Add margin bottom for spacing */
  margin-top: 5px;
}

.logo-image {
  max-width: 120%; /* Ensure the logo doesn't exceed its container */
  max-height: 120px; /* Adjust the maximum height as needed */
}

.image-container {
  display: grid;
  grid-template-columns: 2fr 3.5fr;
  justify-content: center; /* Center the image containers horizontally */
}

.left-image-container {
  width: 80%;
  max-width: 80%;
}

.right-image-container {
  display: flex; /* Add display flex to align children */
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align items to the left */
  flex: 3; /* Each image container takes equal space */
  max-width: 100%; /* Each image container takes half of the available space */
  margin-right: 50px; /* Add space on the right side of the right image container */
  align-items: center;
}

@media (max-width:1200px) {
  .image-container{
      grid-template-columns: 2fr 3.5fr;
      justify-content: center;
  }

  .left-image-container {
    width: 90%;
    max-width: 90%;
  }

}

@media (max-width: 800px) {

  * {
    font-size: 14px;
  }

  .image-container{
      grid-template-columns: 1fr;
  }

  .left-image-container {
    width: 30%;
    max-width: 30%;
    margin: auto;
  }

  .right-image-container {
    grid-row: 2;
    width: 90%;
    max-width: 90%;
    margin: auto;
  }

  .left-image {
    width: 50px;
    height: 50%;
  }

  .right-image {
    width: 40px;
    height: 50%;
  }

  .right-content-bottom p{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    text-align: center;
  }

  .right-content-top h5 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .two-points {
    margin-left: -10px;
    margin-right: 10px;
  }

  .additional-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .bottom-image {
    margin-top: 10px;
  }

  .red-box-container .red-box {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    row-gap: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .redbox2 {
    grid-row: 2;
  }

  .redbox3 {
    grid-row: 3;
    margin-top: 5px;
  }

  .centeredcontent {
    margin-left: 10px;
    margin-right: 10px;
  }

}

.left-image {
  width: 100%;
  height: auto;
}

.right-image {
  width: 100%;
  height: auto;
}

.right-content-top h6 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the heading bold */
}

.right-content-top,
.right-content-bottom {
  text-align: left; /* Align the content to the left */
}

.additional-content {
  text-align: center; /* Center the content horizontally */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 50px; /* Set a fixed height or adjust as needed */
  margin-top: 10px;
  margin-bottom: 10px;
}

.additional-content p {
  margin: 0; /* Remove default margin */
}

.bottom-image{
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.additional-image {
  width: 80%; /* Set width for the additional image */
  height: auto; /* Maintain aspect ratio */
}

.centeredcontent {
  text-align: center;
}

.red-line {
  border-bottom: 2px solid red;
  margin: 0 20px; /* Adjust the margin on the right and left sides */
  margin-bottom: 10px; /* Reduce the bottom margin */
}


.footer {
  text-align: center;
} 

.centered-content {
  text-align: center;
  margin: 0 20px; 
  margin-bottom: 20px;/* Adjust the margin on the right and left sides */
  white-space: normal; /* Prevent text from wrapping */
  overflow-x: hidden; /* Hide any content that overflows horizontally */
}

.centered-content p {
  color: black; /* Set text color */
  margin: 0; /* Remove default margin */
}

.centered-content p span {
  color: red; /* Set color of the divider */
  margin: 0 5px; /* Add space around the divider */
}

.red-box {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ed3236;
  padding-bottom: 30px;
  padding-top: 10px;
  color: white;
  height: 100%;
  row-gap: 20px;
  column-gap: 20px;
}

.redbox1, .redbox2, .redbox3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-box a {
  text-decoration: none;
  color: white;
  padding-bottom: 20px;
}

.red-box a:hover {
  text-decoration: underline;
}

.redIcon1, .redIcon2, .redIcon3 {
  height: 30px;
  padding-bottom: 5px;
  padding-right: 5px;
}