
/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  background: linear-gradient(to bottom, #ffffff, #fff8b0); /* Background gradient */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  text-align: center; /* Center the content horizontally */
  margin-bottom: 5px; /* Add margin bottom for spacing */
  margin-top: 5px;
}

.logo-image {
  max-width: 120%; /* Ensure the logo doesn't exceed its container */
  max-height: 120px; /* Adjust the maximum height as needed */
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the image containers horizontally */
}

.left-image-container {
  width: 31%;
  max-width: 31%;
}

.right-image-container {
  display: flex; /* Add display flex to align children */
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align items to the left */
  flex: 3; /* Each image container takes equal space */
  max-width: 70%; /* Each image container takes half of the available space */
  margin-right: 50px; /* Add space on the right side of the right image container */
  align-items: center;
}

.left-image {
  width: 100%;
  height: auto;
}

.right-image {
  width: 100%;
  height: auto;
}

.right-content-top h6 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the heading bold */
}

.right-content-top,
.right-content-bottom {
  text-align: left; /* Align the content to the left */
}

.additional-content {
  text-align: center; /* Center the content horizontally */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 50px; /* Set a fixed height or adjust as needed */
  margin-top: 10px;
  margin-bottom: 10px;
}

.additional-content p {
  margin: 0; /* Remove default margin */
}

.bottom-image{
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.additional-image {
  width: 80%; /* Set width for the additional image */
  height: auto; /* Maintain aspect ratio */
}

.centeredcontent {
  text-align: center;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column; /* Stack images vertically on smaller screens */
  }

  .left-image-container,
  .right-image-container {
    max-width: 100%; 
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 0;/* Each image container takes full width on smaller screens */
  }

  .right-image-container {
    margin-right: 70px; /* Remove margin on smaller screens */
    margin-bottom: 50%; /* Add space below the right image container on smaller screens */
  }

  /* Move additional content and image styles inside media query */
  .additional-content {
    text-align: center; /* Center the content horizontally */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 200px; /* Set a fixed height or adjust as needed */
  }

  .additional-content p {
    margin: 0; /* Remove default margin */
  }

  .additional-image {
    width: 50%; /* Set width for the additional image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Add space above the additional image */
  }

}



.red-line {
  border-bottom: 2px solid red;
  margin: 0 20px; /* Adjust the margin on the right and left sides */
  margin-bottom: 10px; /* Reduce the bottom margin */
}


.footer {
  text-align: center;
} 

.centered-content {
  text-align: center;
  margin: 0 20px; 
  margin-bottom: 20px;/* Adjust the margin on the right and left sides */
}

.centered-content p {
  color: black; /* Set text color */
  margin: 0; /* Remove default margin */
}

.centered-content p span {
  color: red; /* Set color of the divider */
  margin: 0 5px; /* Add space around the divider */
}

.red-box {
  display: flex;
  margin: 0 20px; /* Adjust the margin on the right and left sides */
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #ed3236;
  padding: 10px;
  color: white;
  height: 100px;
}

.red-box a {
  text-decoration: none;
  color: white;
}

.red-box a:hover {
  text-decoration: underline;
}
